<div class="container mt-3">
  <div class="row text-center mt-3">
    <div class="d-flex flex-row-reverse mb-3">
      <form action="/auth/logout" method="POST">
        <button type="submit" class="btn btn-primary text-nowrap" style="width: 8vw; min-width: 5rem;">登出</button>
      </form>
    </div>
    <div class="col m-auto">
      <div class="card card-body border-dark m-auto">
        <h1>
          管理員
        </h1>
      </div>
    </div>
  </div>

  <div class="row g-3 mt-3">
    <div class="col-6 col-sm-3">
      <!-- 協助訂場 -->
      <a href="/admin/booking" class="btn btn-secondary fs-5 d-flex align-items-center justify-content-center"
        style="width: 100%; height:15vh;">協助訂場</a>
    </div>
    <!-- 已訂場需結帳 -->
    <div class="col-6 col-sm-3">
      <a href="/admin/check" class="btn btn-secondary fs-5 d-flex align-items-center justify-content-center"
        style="width: 100%; height:15vh;">已訂場需結帳</a>
    </div>
    <!-- 擊球及扣款明細 -->
    <div class="col-6 col-sm-3">
      <a href="/admin/details" class="btn btn-secondary fs-5 d-flex align-items-center justify-content-center"
        style="width: 100%; height:15vh">擊球及扣款明細</a>
    </div>
    <!-- 會員好禮 -->
    <div class="col-6 col-sm-3">
      <a href="/admin/gifts" class="btn btn-secondary fs-5 d-flex align-items-center justify-content-center"
        style="width: 100%; height:15vh;">會員好禮</a>
    </div>
  </div>
  <div class="row g-3 mt-2">
    <!-- 會員資訊 -->
    <div class="col-6 col-sm-4 col-md-3 d-flex justify-content-center">
      <a href="/admin/members" class="btn btn-secondary fs-5 d-flex align-items-center justify-content-center"
        style="width: 100%; height:15vh;">會員資訊</a>
    </div>
    <!-- 會員log紀錄 -->
    <div class="col-6 col-sm-4 col-md-3 d-flex justify-content-center">
      <a href="/admin/logs" class="btn btn-secondary fs-5 d-flex align-items-center justify-content-center"
        style="width: 100%; height:15vh;">會員log紀錄</a>
    </div>
    <!-- 球場資訊 -->
    <div class="col-6 col-sm-4 col-md-3 d-flex justify-content-center">
      <a href="/admin/coursies" class="btn btn-secondary fs-5 d-flex align-items-center justify-content-center"
        style="width: 100%; height:15vh;">球場資訊</a>
    </div>
  </div>
</div>