<div class="container mt-3">
  <div class="row m-auto">
    <div class=" col m-auto">
      <div class="row text-center h-100">
        <div class="col-3 pt-5">
          <div class="item d-flex justify-content-center align-items-center">
            <h5>管理員</h5>
          </div>
        </div>
        <div class="col-6 pt-3">
          <h2>擊球及扣款明細</h2>
        </div>
        <div class="col-3">
          <div class="item d-flex flex-column">
            <a href="/admin" class="btn btn-secondary mb-2 text-nowrap" style="width: 8vw; min-width: 5rem;">回上頁</a>
            <button class="btn btn-success" style="width: 8vw;min-width: 5rem;">匯出Excel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form action="/admin/booking" method="POST">
    <div class="row g-4 mt-1">
      <!-- 會員編號 -->
      <div class="col-6 col-sm-4 col-md-3">
        <label for="member_id" class="form-label">會員編號</label>
        <input type="text" class="form-control" id="member_id">
      </div>
      <!-- 姓名 -->
      <div class="col-6 col-sm-4 col-md-3">
        <label for="name" class="form-label">姓名</label>
        <input type="text" class="form-control" id="name">
      </div>
    </div>
    <a href="/admin/details/" class="d-grid btn btn-primary mt-3 m-auto">
      <h5>查詢</h5>
    </a>
  </form>

  <a href="/admin/details/new" class="d-grid btn btn-primary mt-3 mb-2  m-auto">
    <h5>新增擊球及扣款明細</h5>
  </a>

  <table id="myTable" class="display cell-border responsive nowrap" style="width: 80%;">
    <thead>
      <tr>
        <th>會員編號</th>
        <th>姓名</th>
        <th>項目</th>
        <th>日期</th>
        <th>星期</th>
        <th>球場</th>
        <th>球隊</th>
        <th>金額</th>
        <th>小計</th>
        <th>備註</th>
        <th>編輯</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-secondary">查看</button></td>
        <td>
          <a href="/admin/details/edit" class="btn btn-info">修改</a>
          <button class="btn btn-danger">刪除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#myTable').DataTable({
      // 中文化
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/zh-HANT.json',
      },
      // 分頁器
      paging: false,
      // 滾軸頁面
      scrollY: 400,
      // 關鍵字搜尋
      searching: false,
      // 排序
      ordering: false
    });
  });
</script>
</div>