<div class="card card-body border-dark m-auto" style="width: 24rem;">
  <div class="d-flex flex-row-reverse">
    <button type="submit" class="btn btn-primary" style="width: 5rem" onclick="history.back()">上一頁</button>
  </div>
  <div class="d-flex flex-column align-items-center mt-2">
    <a href="/members/areas/orders" class="text-center btn btn-primary mt-5" style="width: 16rem;">
      <h3>訂場紀錄</h3>
    </a>

    <a href="/members/areas/booked-orders" class="text-center btn btn-primary mt-5" style="width: 16rem;">
      <h3>未擊球預約</h3>
    </a>

    <a href="/members/areas/logs" class="text-center btn btn-primary mt-5" style="width: 16rem;">
      <h3>擊球及扣款明細</h3>
    </a>

    <a href="/members/areas/gifts" class="text-center btn btn-primary mt-5" style="width: 16rem;">
      <h3><i class="bi bi-gift-fill"></i>會員好禮</h3>
    </a>
  </div>
</div>