<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-8 m-auto">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mt-4">會員: <%= name %>
        </h6>
        <h1>協助訂場</h1>
        <button class="btn btn-secondary d-flex align-items-center justify-content-center" style="white-space:nowrap"
          onclick="history.back()">回上頁</button>
      </div>
    </div>
  </div>
  <a href="/reservations/booking/new" class="d-grid btn btn-primary mt-3 m-auto" style="max-width: 45rem;">
    <h5>新增訂場</h5>
  </a>
  <table id="myTable" class="display responsive nowrap" style="width: 80%;">
    <thead>
      <tr>
        <th>姓名</th>
        <th>日期</th>
        <th>球場</th>
        <th>開球時間_起</th>
        <th>開球時間_迄</th>
        <th>球隊</th>
        <th>組數</th>
        <th>名單</th>
        <th>聯絡人</th>
        <th>聯絡人電話</th>
        <th>狀態</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#myTable').DataTable({
      // 中文化
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/zh-HANT.json',
      },
      // 分頁器
      paging: false,
      // 滾軸頁面
      scrollY: 400,
      // 關鍵字搜尋
      searching: false,
      // 排序
      ordering: false
    });
  });
</script>