<div class="container mt-3">
  <div class="row m-auto">
    <div class=" col m-auto">
      <div class="row text-center h-100">
        <div class="col-3 pt-5">
          <div class="item d-flex justify-content-center align-items-center">
            <h6 class="text-nowrap">會員: <%= name %>
            </h6>
          </div>
        </div>
        <div class="col-6 pt-3">
          <h3>協助訂場</h3>
        </div>
        <div class="col-3">
          <div class="item d-flex flex-column" style="max-width: 6rem;">
            <button class="btn btn-secondary mb-2 text-nowrap" style="width: 8vw; min-width: 5rem;"
              onclick="history.back()">回上頁</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="/reservations/booking/new" class="d-grid btn btn-primary mt-3 m-auto" style="max-width: 60rem;">
    <h5>新增訂場</h5>
  </a>
  <table id="myTable" class="display cell-border responsive nowrap" style="width: 100%;">
    <thead>
      <tr>
        <th>狀態</th>
        <th>日期</th>
        <th>球場</th>
        <th>開球時間_起</th>
        <th>開球時間_迄</th>
        <th>球隊</th>
        <th>組數</th>
        <th>名單</th>
        <th>聯絡人</th>
        <th>聯絡人電話</th>
        <th>備註</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-secondary">查看</button></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-secondary">查看</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#myTable').DataTable({
      // 中文化
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/zh-HANT.json',
      },
      // 分頁器
      paging: false,
      // 滾軸頁面
      scrollY: 400,
      // 關鍵字搜尋
      searching: false,
      // 排序
      ordering: false
    });
  });
</script>