<div class="container mt-3">
  <div class="row text-center mt-3">
    <div class="d-flex flex-row-reverse mb-3">
      <form action="/auth/logout" method="POST">
        <button type="submit" class="btn btn-primary text-nowrap" style="width: 8vw; min-width: 5rem;">登出</button>
      </form>
    </div>
    <div class="col-10 col-md-6 m-auto">
      <div class="card card-body border-dark m-auto" style="height: 40vh;">
        <h1 class="mb-5 mb-md-2 " style="font-size: 3rem;">
          <%= name %>
        </h1>
        <div class="mt-5 d-flex justify-content-around">
          <h4><i class="bi bi-coin"></i>餘額: <%= balance %>
          </h4>
          <h4><i class="bi bi-record-circle-fill"></i>點數: <%= point %>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 px-md-5">
    <div class="col-5 col-md-3 m-auto  me-md-4">
      <a href="/reservations" class="btn btn-secondary d-flex align-items-center justify-content-center"
        style="height:6rem">
        <h4>我要預約</h4>
      </a>
    </div>
    <div class="col-5 col-md-3 m-auto  ms-md-4">
      <a href="/members" class="btn btn-secondary d-flex align-items-center justify-content-center" style="height:6rem">
        <h4>會員專區</h4>
      </a>
    </div>
  </div>
</div>