<div class="card card-body border-dark m-auto" style="width: 24rem;">
  <form action="/users" method="POST" class="d-flex flex-row-reverse">
    <button type="submit" class="btn btn-primary" style="width: 5rem">登出</button>
  </form>
  <div class="text-center mt-3">
    <div class="card card-body border-dark m-auto" style="width: 18rem">
      <h1>
        <%= name %>
      </h1>
      <div class="mt-5 d-flex justify-content-around">
        <p><i class="bi bi-coin"></i>餘額: <%= balance %>
        </p>
        <p><i class="bi bi-record-circle-fill"></i>點數: <%= point %>
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-evenly mt-5 ">
    <a href="/members/reservations" class="d-flex btn btn-secondary align-content-center"
      style="width: 8rem; height: 6rem;">
      <h4 class="m-auto">我要預約</h4>
    </a>


    <a href="/members/areas" class="d-flex btn btn-secondary align-content-center flex-wrap"
      style="width: 8rem; height: 6rem;">
      <h4 class="m-auto">會員專區</h4>
    </a>
  </div>
</div>