<div class="card card-body border-dark m-auto" style="width: 26rem;">
  <div class="text-center mt-3">
    <h1>亞太高爾夫</h1>
    <h4>會員預約系統</h4>
  </div>
  <div class="img border border-dark rounded-circle mt-3 m-auto" style="width: 10rem;height: 10rem;">
    <img src="..." class="rounded-circle" alt="...">
    <h1 class="text-center">Logo</h1>
  </div>
  <form action="/users/login" method="POST">
    <div class="mb-3">
      <h3 class="text-center mt-3">請輸入身分證號碼</h3>
      <input type="account" id="account" name="account" class="form-control" placeholder="請輸入身分證字號">
    </div>
    <button type="submit" class="d-block w-100 mb-2 btn btn-primary">送出</button>
  </form>
</div>