<div class="container mt-3">
  <div class="row m-auto">
    <div class=" col m-auto">
      <div class="row text-center h-100">
        <div class="col-3 pt-5">
          <div class="item d-flex justify-content-center align-items-center">
            <h5>管理員</h5>
          </div>
        </div>
        <div class="col-6 pt-3">
          <h2>會員資訊</h2>
        </div>
        <div class="col-3">
          <div class="item d-flex flex-column">
            <a href="/admin" class="btn btn-secondary mb-2 text-nowrap" style="width: 8vw; min-width: 5rem;">回上頁</a>
            <button class="btn btn-success" style="width: 8vw;min-width: 5rem;">匯出Excel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form action="/admin/members-info" method="GET">
    <div class="row g-4 mt-1">
      <!-- 會員編號 -->
      <div class="col-12 col-sm-4">
        <label for="member_id" class="form-label">會員編號</label>
        <input type="text" class="form-control" id="member_id" name="member_id">
      </div>
      <!-- 姓名 -->
      <div class="col-12 col-sm-4">
        <label for="name" class="form-label">姓名</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <!-- 帳號 -->
      <div class="col-12 col-sm-4">
        <label for="account" class="form-label">登入帳號</label>
        <input type="text" class="form-control" id="account" name="account">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="d-grid btn btn-primary mt-3 m-auto w-100">
          <h5>會員查詢</h5>
        </button>
      </div>
    </div>
  </form>

  <a href="/admin/members-info/new" class="d-grid btn btn-primary mt-3 mb-2  m-auto">
    <h5>新增會員</h5>
  </a>

  <table id="myTable" class="display cell-border responsive nowrap" style="width: 100%;">
    <thead>
      <tr>
        <th>會員編號</th>
        <th>姓名</th>
        <th>登入帳號</th>
        <th>性別</th>
        <th>入會時間</th>
        <th>會籍到期日</th>
        <th>會籍</th>
        <th>備註</th>
        <th>編輯</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<!-- <script src="/javascripts/dataTable.js"></script> -->

<script>
  $(document).ready(function () {
    $('#myTable').DataTable({
      // 中文化
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/zh-HANT.json',
      },
      // 分頁器
      paging: true,
      // 滾軸頁面
      scrollY: 400,
      // 關鍵字搜尋
      searching: false,
      // 排序
      ordering: false,
      // 顯示加載中
      // processing: true,  
      // 開啟伺服器端分頁
      serverSide: true,

      ajax: {
        url: `http://localhost:3000/admin/api/get_members`,
        type: 'GET'
      },
      columns: [
        { data: "member_id" },
        { data: "name" },
        { data: "account" },
        { data: "isMale" },
        { data: "member_since" },
        { data: "member_expire" },
        { data: "ClassId" },
        { data: "text" },
        {
          data: "id",
          render: function (id) {
            const html = ` <div class="d-flex">
                <a href="/admin/members-info/${id}/edit" class="btn btn-info">修改</a>
                <form action="/admin/members-info/${id}?_method=DELETE" method="POST">
                  <button type="submit" class="del-btn btn btn-danger ms-2" onclick="return confirm('是否確定要刪除會員?')">刪除</button>
                </form>
                </div>`
            return html
          }
        }
      ]
    })
  })

</script>