<div class="container mt-3">
  <div class="row">
    <div class="col col-md-10">
      <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary text-nowrap" style="width: 8vw; min-width: 5rem;"
          onclick="history.back()">上一頁</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 m-auto">
      <div class="d-flex flex-column align-items-center mt-5">
        <a href="/reservations/booking" class="text-center btn btn-primary mt-5" style="width: 16rem;">
          <h3>協助訂場</h3>
        </a>

        <a href="/reservations/check" class="text-center btn btn-primary mt-5" style="width: 16rem;">
          <h3>已訂場需結帳</h3>
        </a>
      </div>

    </div>
  </div>
</div>